.root {
  padding: var(--gutter-16) calc(var(--gutter-16) + var(--gutter-4));
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  gap: var(--gutter-24);

  .title {
    display: flex;
    align-items: center;
    width: 100;
  }

  .outerCircle {
    width: var(--gutter-16);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid var(--neutral-300);
    padding: var(--gutter-2);
  }

  .innerCircle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-300);
  }

  .inputCircle,
  .outputCircle {
    display: flex;
    align-items: center;
    gap: var(--gutter-4);
  }

  .inputOutputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--gutter-24);
  }
}
