.root {
  width: var(--card-width);

  .input,
  .output {
    display: flex;
    align-items: center;
    gap: var(--gutter-4);
  }
}

.outerCircle {
  width: var(--gutter-16);
  height: var(--gutter-16);
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid var(--neutral-300);
  padding: var(--gutter-2);
}

.innerCircle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-300);
}
