// Overflow for both horizontal and vertical
.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-scroll {
  overflow: scroll !important;
}
// Overflow for horizontal
.overflowX-auto {
  overflow-x: auto !important;
}

.overflowX-hidden {
  overflow-x: hidden !important;
}

.overflowX-visible {
  overflow-x: visible !important;
}

.overflowX-scroll {
  overflow-x: scroll !important;
}
// Overflow for vertical
.overflowY-auto {
  overflow-y: auto !important;
}

.overflowY-hidden {
  overflow-y: hidden !important;
}

.overflowY-visible {
  overflow-y: visible !important;
}

.overflowY-scroll {
  overflow-y: scroll !important;
}
