.weight_normal {
  font-weight: var(--fw-normal);
}
.weight_demi {
  font-weight: var(--fw-demi);
}
.weight_bold {
  font-weight: var(--fw-bold);
}

.color_primary-800 {
  color: var(--primary-800);
}
.color_primary-700 {
  color: var(--primary-700);
}
.color_primary-600 {
  color: var(--primary-600);
}
.color_primary-500 {
  color: var(--primary-500);
}
.color_primary-400 {
  color: var(--primary-400);
}
.color_primary-300 {
  color: var(--primary-300);
}
.color_primary-200 {
  color: var(--primary-200);
}
.color_primary-100 {
  color: var(--primary-100);
}
.color_primary-75 {
  color: var(--primary-75);
}
.color_primary-50 {
  color: var(--primary-50);
}
.color_neutral-1000 {
  color: var(--neutral-1000);
}
.color_neutral-600 {
  color: var(--neutral-600);
}
.color_neutral-500 {
  color: var(--neutral-500);
}
.color_neutral-400 {
  color: var(--neutral-400);
}
.color_neutral-300 {
  color: var(--neutral-300);
}
.color_neutral-200 {
  color: var(--neutral-200);
}
.color_neutral-100 {
  color: var(--neutral-100);
}
.color_neutral-75 {
  color: var(--neutral-75);
}
.color_neutral-0 {
  color: var(--neutral-0);
}
.color_success-700 {
  color: var(--success-700);
}
.color_success-600 {
  color: var(--success-600);
}
.color_success-500 {
  color: var(--success-500);
}
.color_success-400 {
  color: var(--success-400);
}
.color_success-300 {
  color: var(--success-300);
}
.color_success-200 {
  color: var(--success-200);
}
.color_success-100 {
  color: var(--success-100);
}
.color_success-75 {
  color: var(--success-75);
}
.color_success-50 {
  color: var(--success-50);
}
.color_error-700 {
  color: var(--error-700);
}
.color_error-600 {
  color: var(--error-600);
}
.color_error-500 {
  color: var(--error-500);
}
.color_error-400 {
  color: var(--error-400);
}
.color_error-300 {
  color: var(--error-300);
}
.color_error-200 {
  color: var(--error-200);
}
.color_error-100 {
  color: var(--error-100);
}
.color_error-75 {
  color: var(--error-75);
}
.color_error-50 {
  color: var(--error-50);
}

.lineHeight_single-line {
  line-height: (--lh-single-line);
}

.lineHeight_multi-line {
  line-height: (--lh-multi-line);
}

.fontSize_12 {
  font-size: var(--fs-12);
}
.fontSize_14 {
  font-size: var(--fs-14);
}
.fontSize_16 {
  font-size: var(--fs-16);
}
.fontSize_18 {
  font-size: var(--fs-18);
}
.fontSize_20 {
  font-size: var(--fs-20);
}
.fontSize_24 {
  font-size: var(--fs-24);
}
.fontSize_26 {
  font-size: var(--fs-26);
}
.fontSize_32 {
  font-size: var(--fs-32);
}
.fontSize_36 {
  font-size: var(--fs-36);
}
.fontSize_40 {
  font-size: var(--fs-40);
}
.fontSize_48 {
  font-size: var(--fs-48);
}
.fontSize_56 {
  font-size: var(--fs-56);
}
.fontSize_64 {
  font-size: var(--fs-64);
}
.fontSize_80 {
  font-size: var(--fs-80);
}

.fontFamily {
  font-family: var(--font-sans-serif);
}
