// Background Color
.bgcolor {
  &-inherit {
    background-color: inherit !important;
  }
  &-transparent {
    background-color: transparent !important;
  }
  &-primary-800 {
    background-color: var(--primary-800) !important;
  }
  &-primary-700 {
    background-color: var(--primary-700) !important;
  }
  &-primary-600 {
    background-color: var(--primary-600) !important;
  }
  &-primary-500 {
    background-color: var(--primary-500) !important;
  }
  &-primary-400 {
    background-color: var(--primary-400) !important;
  }
  &-primary-300 {
    background-color: var(--primary-300) !important;
  }
  &-primary-200 {
    background-color: var(--primary-200) !important;
  }
  &-primary-100 {
    background-color: var(--primary-100) !important;
  }
  &-primary-75 {
    background-color: var(--primary-75) !important;
  }
  &-primary-50 {
    background-color: var(--primary-50) !important;
  }
  &-neutral-1000 {
    background-color: var(--neutral-1000) !important;
  }
  &-neutral-600 {
    background-color: var(--neutral-600) !important;
  }
  &-neutral-500 {
    background-color: var(--neutral-500) !important;
  }
  &-neutral-400 {
    background-color: var(--neutral-400) !important;
  }
  &-neutral-300 {
    background-color: var(--neutral-300) !important;
  }
  &-neutral-200 {
    background-color: var(--neutral-200) !important;
  }
  &-neutral-100 {
    background-color: var(--neutral-100) !important;
  }
  &-neutral-75 {
    background-color: var(--neutral-75) !important;
  }
  &-neutral-0 {
    background-color: var(--neutral-0) !important;
  }
  &-success-700 {
    background-color: var(--success-700) !important;
  }
  &-success-600 {
    background-color: var(--success-600) !important;
  }
  &-success-500 {
    background-color: var(--success-500) !important;
  }
  &-success-400 {
    background-color: var(--success-400) !important;
  }
  &-success-300 {
    background-color: var(--success-300) !important;
  }
  &-success-200 {
    background-color: var(--success-200) !important;
  }
  &-success-100 {
    background-color: var(--success-100) !important;
  }
  &-success-75 {
    background-color: var(--success-75) !important;
  }
  &-success-50 {
    background-color: var(--success-50) !important;
  }
  &-warning-700 {
    background-color: var(--warning-700) !important;
  }
  &-warning-600 {
    background-color: var(--warning-600) !important;
  }
  &-warning-500 {
    background-color: var(--warning-500) !important;
  }
  &-warning-400 {
    background-color: var(--warning-400) !important;
  }
  &-warning-300 {
    background-color: var(--warning-300) !important;
  }
  &-warning-200 {
    background-color: var(--warning-200) !important;
  }
  &-warning-100 {
    background-color: var(--warning-100) !important;
  }
  &-warning-75 {
    background-color: var(--warning-75) !important;
  }
  &-warning-50 {
    background-color: var(--warning-50) !important;
  }
  &-error-700 {
    background-color: var(--error-700) !important;
  }
  &-error-600 {
    background-color: var(--error-600) !important;
  }
  &-error-500 {
    background-color: var(--error-500) !important;
  }
  &-error-400 {
    background-color: var(--error-400) !important;
  }
  &-error-300 {
    background-color: var(--error-300) !important;
  }
  &-error-200 {
    background-color: var(--error-200) !important;
  }
  &-error-100 {
    background-color: var(--error-100) !important;
  }
  &-error-75 {
    background-color: var(--error-75) !important;
  }
  &-error-50 {
    background-color: var(--error-50) !important;
  }
  &-info-700 {
    background-color: var(--info-700) !important;
  }
  &-info-600 {
    background-color: var(--info-600) !important;
  }
  &-info-500 {
    background-color: var(--info-500) !important;
  }
  &-info-400 {
    background-color: var(--info-400) !important;
  }
  &-info-300 {
    background-color: var(--info-300) !important;
  }
  &-info-200 {
    background-color: var(--info-200) !important;
  }
  &-info-100 {
    background-color: var(--info-100) !important;
  }
  &-info-75 {
    background-color: var(--info-75) !important;
  }
  &-info-50 {
    background-color: var(--info-50) !important;
  }
  &-orange-700 {
    background-color: var(--orange-700) !important;
  }
  &-orange-600 {
    background-color: var(--orange-600) !important;
  }
  &-orange-500 {
    background-color: var(--orange-500) !important;
  }
  &-orange-400 {
    background-color: var(--orange-400) !important;
  }
  &-orange-300 {
    background-color: var(--orange-300) !important;
  }
  &-orange-200 {
    background-color: var(--orange-200) !important;
  }
  &-orange-100 {
    background-color: var(--orange-100) !important;
  }
  &-orange-75 {
    background-color: var(--orange-75) !important;
  }
  &-orange-50 {
    background-color: var(--orange-50) !important;
  }
  &-purple-700 {
    background-color: var(--purple-700) !important;
  }
  &-purple-600 {
    background-color: var(--purple-600) !important;
  }
  &-purple-500 {
    background-color: var(--purple-500) !important;
  }
  &-purple-400 {
    background-color: var(--purple-400) !important;
  }
  &-purple-300 {
    background-color: var(--purple-300) !important;
  }
  &-purple-200 {
    background-color: var(--purple-200) !important;
  }
  &-purple-100 {
    background-color: var(--purple-100) !important;
  }
  &-purple-75 {
    background-color: var(--purple-75) !important;
  }
  &-purple-50 {
    background-color: var(--purple-50) !important;
  }
}
// Text Color
.color {
  &-inherit {
    color: inherit !important;
  }
  &-transparent {
    color: transparent !important;
  }
  &-primary-800 {
    color: var(--primary-800) !important;
  }
  &-primary-700 {
    color: var(--primary-700) !important;
  }
  &-primary-600 {
    color: var(--primary-600) !important;
  }
  &-primary-500 {
    color: var(--primary-500) !important;
  }
  &-primary-400 {
    color: var(--primary-400) !important;
  }
  &-primary-300 {
    color: var(--primary-300) !important;
  }
  &-primary-200 {
    color: var(--primary-200) !important;
  }
  &-primary-100 {
    color: var(--primary-100) !important;
  }
  &-primary-75 {
    color: var(--primary-75) !important;
  }
  &-primary-50 {
    color: var(--primary-50) !important;
  }
  &-neutral-1000 {
    color: var(--neutral-1000) !important;
  }
  &-neutral-600 {
    color: var(--neutral-600) !important;
  }
  &-neutral-500 {
    color: var(--neutral-500) !important;
  }
  &-neutral-400 {
    color: var(--neutral-400) !important;
  }
  &-neutral-300 {
    color: var(--neutral-300) !important;
  }
  &-neutral-200 {
    color: var(--neutral-200) !important;
  }
  &-neutral-100 {
    color: var(--neutral-100) !important;
  }
  &-neutral-75 {
    color: var(--neutral-75) !important;
  }
  &-neutral-0 {
    color: var(--neutral-0) !important;
  }
  &-success-700 {
    color: var(--success-700) !important;
  }
  &-success-600 {
    color: var(--success-600) !important;
  }
  &-success-500 {
    color: var(--success-500) !important;
  }
  &-success-400 {
    color: var(--success-400) !important;
  }
  &-success-300 {
    color: var(--success-300) !important;
  }
  &-success-200 {
    color: var(--success-200) !important;
  }
  &-success-100 {
    color: var(--success-100) !important;
  }
  &-success-75 {
    color: var(--success-75) !important;
  }
  &-success-50 {
    color: var(--success-50) !important;
  }
  &-warning-700 {
    color: var(--warning-700) !important;
  }
  &-warning-600 {
    color: var(--warning-600) !important;
  }
  &-warning-500 {
    color: var(--warning-500) !important;
  }
  &-warning-400 {
    color: var(--warning-400) !important;
  }
  &-warning-300 {
    color: var(--warning-300) !important;
  }
  &-warning-200 {
    color: var(--warning-200) !important;
  }
  &-warning-100 {
    color: var(--warning-100) !important;
  }
  &-warning-75 {
    color: var(--warning-75) !important;
  }
  &-warning-50 {
    color: var(--warning-50) !important;
  }
  &-error-700 {
    color: var(--error-700) !important;
  }
  &-error-600 {
    color: var(--error-600) !important;
  }
  &-error-500 {
    color: var(--error-500) !important;
  }
  &-error-400 {
    color: var(--error-400) !important;
  }
  &-error-300 {
    color: var(--error-300) !important;
  }
  &-error-200 {
    color: var(--error-200) !important;
  }
  &-error-100 {
    color: var(--error-100) !important;
  }
  &-error-75 {
    color: var(--error-75) !important;
  }
  &-error-50 {
    color: var(--error-50) !important;
  }
  &-info-700 {
    color: var(--info-700) !important;
  }
  &-info-600 {
    color: var(--info-600) !important;
  }
  &-info-500 {
    color: var(--info-500) !important;
  }
  &-info-400 {
    color: var(--info-400) !important;
  }
  &-info-300 {
    color: var(--info-300) !important;
  }
  &-info-200 {
    color: var(--info-200) !important;
  }
  &-info-100 {
    color: var(--info-100) !important;
  }
  &-info-75 {
    color: var(--info-75) !important;
  }
  &-info-50 {
    color: var(--info-50) !important;
  }
  &-orange-700 {
    color: var(--orange-700) !important;
  }
  &-orange-600 {
    color: var(--orange-600) !important;
  }
  &-orange-500 {
    color: var(--orange-500) !important;
  }
  &-orange-400 {
    color: var(--orange-400) !important;
  }
  &-orange-300 {
    color: var(--orange-300) !important;
  }
  &-orange-200 {
    color: var(--orange-200) !important;
  }
  &-orange-100 {
    color: var(--orange-100) !important;
  }
  &-orange-75 {
    color: var(--orange-75) !important;
  }
  &-orange-50 {
    color: var(--orange-50) !important;
  }
  &-purple-700 {
    color: var(--purple-700) !important;
  }
  &-purple-600 {
    color: var(--purple-600) !important;
  }
  &-purple-500 {
    color: var(--purple-500) !important;
  }
  &-purple-400 {
    color: var(--purple-400) !important;
  }
  &-purple-300 {
    color: var(--purple-300) !important;
  }
  &-purple-200 {
    color: var(--purple-200) !important;
  }
  &-purple-100 {
    color: var(--purple-100) !important;
  }
  &-purple-75 {
    color: var(--purple-75) !important;
  }
  &-purple-50 {
    color: var(--purple-50) !important;
  }
}
// Border Color
.border {
  &-inherit {
    border-color: inherit !important;
  }
  &-transparent {
    border-color: transparent !important;
  }
  &-primary-800 {
    border-color: var(--primary-800) !important;
  }
  &-primary-700 {
    border-color: var(--primary-700) !important;
  }
  &-primary-600 {
    border-color: var(--primary-600) !important;
  }
  &-primary-500 {
    border-color: var(--primary-500) !important;
  }
  &-primary-400 {
    border-color: var(--primary-400) !important;
  }
  &-primary-300 {
    border-color: var(--primary-300) !important;
  }
  &-primary-200 {
    border-color: var(--primary-200) !important;
  }
  &-primary-100 {
    border-color: var(--primary-100) !important;
  }
  &-primary-75 {
    border-color: var(--primary-75) !important;
  }
  &-primary-50 {
    border-color: var(--primary-50) !important;
  }
  &-neutral-1000 {
    border-color: var(--neutral-1000) !important;
  }
  &-neutral-600 {
    border-color: var(--neutral-600) !important;
  }
  &-neutral-500 {
    border-color: var(--neutral-500) !important;
  }
  &-neutral-400 {
    border-color: var(--neutral-400) !important;
  }
  &-neutral-300 {
    border-color: var(--neutral-300) !important;
  }
  &-neutral-200 {
    border-color: var(--neutral-200) !important;
  }
  &-neutral-100 {
    border-color: var(--neutral-100) !important;
  }
  &-neutral-75 {
    border-color: var(--neutral-75) !important;
  }
  &-neutral-0 {
    border-color: var(--neutral-0) !important;
  }
  &-success-700 {
    border-color: var(--success-700) !important;
  }
  &-success-600 {
    border-color: var(--success-600) !important;
  }
  &-success-500 {
    border-color: var(--success-500) !important;
  }
  &-success-400 {
    border-color: var(--success-400) !important;
  }
  &-success-300 {
    border-color: var(--success-300) !important;
  }
  &-success-200 {
    border-color: var(--success-200) !important;
  }
  &-success-100 {
    border-color: var(--success-100) !important;
  }
  &-success-75 {
    border-color: var(--success-75) !important;
  }
  &-success-50 {
    border-color: var(--success-50) !important;
  }
  &-warning-700 {
    border-color: var(--warning-700) !important;
  }
  &-warning-600 {
    border-color: var(--warning-600) !important;
  }
  &-warning-500 {
    border-color: var(--warning-500) !important;
  }
  &-warning-400 {
    border-color: var(--warning-400) !important;
  }
  &-warning-300 {
    border-color: var(--warning-300) !important;
  }
  &-warning-200 {
    border-color: var(--warning-200) !important;
  }
  &-warning-100 {
    border-color: var(--warning-100) !important;
  }
  &-warning-75 {
    border-color: var(--warning-75) !important;
  }
  &-warning-50 {
    border-color: var(--warning-50) !important;
  }
  &-error-700 {
    border-color: var(--error-700) !important;
  }
  &-error-600 {
    border-color: var(--error-600) !important;
  }
  &-error-500 {
    border-color: var(--error-500) !important;
  }
  &-error-400 {
    border-color: var(--error-400) !important;
  }
  &-error-300 {
    border-color: var(--error-300) !important;
  }
  &-error-200 {
    border-color: var(--error-200) !important;
  }
  &-error-100 {
    border-color: var(--error-100) !important;
  }
  &-error-75 {
    border-color: var(--error-75) !important;
  }
  &-error-50 {
    border-color: var(--error-50) !important;
  }
  &-info-700 {
    border-color: var(--info-700) !important;
  }
  &-info-600 {
    border-color: var(--info-600) !important;
  }
  &-info-500 {
    border-color: var(--info-500) !important;
  }
  &-info-400 {
    border-color: var(--info-400) !important;
  }
  &-info-300 {
    border-color: var(--info-300) !important;
  }
  &-info-200 {
    border-color: var(--info-200) !important;
  }
  &-info-100 {
    border-color: var(--info-100) !important;
  }
  &-info-75 {
    border-color: var(--info-75) !important;
  }
  &-info-50 {
    border-color: var(--info-50) !important;
  }
  &-orange-700 {
    border-color: var(--orange-700) !important;
  }
  &-orange-600 {
    border-color: var(--orange-600) !important;
  }
  &-orange-500 {
    border-color: var(--orange-500) !important;
  }
  &-orange-400 {
    border-color: var(--orange-400) !important;
  }
  &-orange-300 {
    border-color: var(--orange-300) !important;
  }
  &-orange-200 {
    border-color: var(--orange-200) !important;
  }
  &-orange-100 {
    border-color: var(--orange-100) !important;
  }
  &-orange-75 {
    border-color: var(--orange-75) !important;
  }
  &-orange-50 {
    border-color: var(--orange-50) !important;
  }
  &-purple-700 {
    border-color: var(--purple-700) !important;
  }
  &-purple-600 {
    border-color: var(--purple-600) !important;
  }
  &-purple-500 {
    border-color: var(--purple-500) !important;
  }
  &-purple-400 {
    border-color: var(--purple-400) !important;
  }
  &-purple-300 {
    border-color: var(--purple-300) !important;
  }
  &-purple-200 {
    border-color: var(--purple-200) !important;
  }
  &-purple-100 {
    border-color: var(--purple-100) !important;
  }
  &-purple-75 {
    border-color: var(--purple-75) !important;
  }
  &-purple-50 {
    border-color: var(--purple-50) !important;
  }
  &-top-inherit {
    border-top-color: inherit !important;
  }
  &-top-transparent {
    border-top-color: transparent !important;
  }
  &-top-primary-800 {
    border-top-color: var(--primary-800) !important;
  }
  &-top-primary-700 {
    border-top-color: var(--primary-700) !important;
  }
  &-top-primary-600 {
    border-top-color: var(--primary-600) !important;
  }
  &-top-primary-500 {
    border-top-color: var(--primary-500) !important;
  }
  &-top-primary-400 {
    border-top-color: var(--primary-400) !important;
  }
  &-top-primary-300 {
    border-top-color: var(--primary-300) !important;
  }
  &-top-primary-200 {
    border-top-color: var(--primary-200) !important;
  }
  &-top-primary-100 {
    border-top-color: var(--primary-100) !important;
  }
  &-top-primary-75 {
    border-top-color: var(--primary-75) !important;
  }
  &-top-primary-50 {
    border-top-color: var(--primary-50) !important;
  }
  &-top-neutral-1000 {
    border-top-color: var(--neutral-1000) !important;
  }
  &-top-neutral-600 {
    border-top-color: var(--neutral-600) !important;
  }
  &-top-neutral-500 {
    border-top-color: var(--neutral-500) !important;
  }
  &-top-neutral-400 {
    border-top-color: var(--neutral-400) !important;
  }
  &-top-neutral-300 {
    border-top-color: var(--neutral-300) !important;
  }
  &-top-neutral-200 {
    border-top-color: var(--neutral-200) !important;
  }
  &-top-neutral-100 {
    border-top-color: var(--neutral-100) !important;
  }
  &-top-neutral-75 {
    border-top-color: var(--neutral-75) !important;
  }
  &-top-neutral-0 {
    border-top-color: var(--neutral-0) !important;
  }
  &-top-success-700 {
    border-top-color: var(--success-700) !important;
  }
  &-top-success-600 {
    border-top-color: var(--success-600) !important;
  }
  &-top-success-500 {
    border-top-color: var(--success-500) !important;
  }
  &-top-success-400 {
    border-top-color: var(--success-400) !important;
  }
  &-top-success-300 {
    border-top-color: var(--success-300) !important;
  }
  &-top-success-200 {
    border-top-color: var(--success-200) !important;
  }
  &-top-success-100 {
    border-top-color: var(--success-100) !important;
  }
  &-top-success-75 {
    border-top-color: var(--success-75) !important;
  }
  &-top-success-50 {
    border-top-color: var(--success-50) !important;
  }
  &-top-warning-700 {
    border-top-color: var(--warning-700) !important;
  }
  &-top-warning-600 {
    border-top-color: var(--warning-600) !important;
  }
  &-top-warning-500 {
    border-top-color: var(--warning-500) !important;
  }
  &-top-warning-400 {
    border-top-color: var(--warning-400) !important;
  }
  &-top-warning-300 {
    border-top-color: var(--warning-300) !important;
  }
  &-top-warning-200 {
    border-top-color: var(--warning-200) !important;
  }
  &-top-warning-100 {
    border-top-color: var(--warning-100) !important;
  }
  &-top-warning-75 {
    border-top-color: var(--warning-75) !important;
  }
  &-top-warning-50 {
    border-top-color: var(--warning-50) !important;
  }
  &-top-error-700 {
    border-top-color: var(--error-700) !important;
  }
  &-top-error-600 {
    border-top-color: var(--error-600) !important;
  }
  &-top-error-500 {
    border-top-color: var(--error-500) !important;
  }
  &-top-error-400 {
    border-top-color: var(--error-400) !important;
  }
  &-top-error-300 {
    border-top-color: var(--error-300) !important;
  }
  &-top-error-200 {
    border-top-color: var(--error-200) !important;
  }
  &-top-error-100 {
    border-top-color: var(--error-100) !important;
  }
  &-top-error-75 {
    border-top-color: var(--error-75) !important;
  }
  &-top-error-50 {
    border-top-color: var(--error-50) !important;
  }
  &-top-info-700 {
    border-top-color: var(--info-700) !important;
  }
  &-top-info-600 {
    border-top-color: var(--info-600) !important;
  }
  &-top-info-500 {
    border-top-color: var(--info-500) !important;
  }
  &-top-info-400 {
    border-top-color: var(--info-400) !important;
  }
  &-top-info-300 {
    border-top-color: var(--info-300) !important;
  }
  &-top-info-200 {
    border-top-color: var(--info-200) !important;
  }
  &-top-info-100 {
    border-top-color: var(--info-100) !important;
  }
  &-top-info-75 {
    border-top-color: var(--info-75) !important;
  }
  &-top-info-50 {
    border-top-color: var(--info-50) !important;
  }
  &-top-orange-700 {
    border-top-color: var(--orange-700) !important;
  }
  &-top-orange-600 {
    border-top-color: var(--orange-600) !important;
  }
  &-top-orange-500 {
    border-top-color: var(--orange-500) !important;
  }
  &-top-orange-400 {
    border-top-color: var(--orange-400) !important;
  }
  &-top-orange-300 {
    border-top-color: var(--orange-300) !important;
  }
  &-top-orange-200 {
    border-top-color: var(--orange-200) !important;
  }
  &-top-orange-100 {
    border-top-color: var(--orange-100) !important;
  }
  &-top-orange-75 {
    border-top-color: var(--orange-75) !important;
  }
  &-top-orange-50 {
    border-top-color: var(--orange-50) !important;
  }
  &-top-purple-700 {
    border-top-color: var(--purple-700) !important;
  }
  &-top-purple-600 {
    border-top-color: var(--purple-600) !important;
  }
  &-top-purple-500 {
    border-top-color: var(--purple-500) !important;
  }
  &-top-purple-400 {
    border-top-color: var(--purple-400) !important;
  }
  &-top-purple-300 {
    border-top-color: var(--purple-300) !important;
  }
  &-top-purple-200 {
    border-top-color: var(--purple-200) !important;
  }
  &-top-purple-100 {
    border-top-color: var(--purple-100) !important;
  }
  &-top-purple-75 {
    border-top-color: var(--purple-75) !important;
  }
  &-top-purple-50 {
    border-top-color: var(--purple-50) !important;
  }
  &-right-inherit {
    border-right-color: inherit !important;
  }
  &-right-transparent {
    border-right-color: transparent !important;
  }
  &-right-primary-800 {
    border-right-color: var(--primary-800) !important;
  }
  &-right-primary-700 {
    border-right-color: var(--primary-700) !important;
  }
  &-right-primary-600 {
    border-right-color: var(--primary-600) !important;
  }
  &-right-primary-500 {
    border-right-color: var(--primary-500) !important;
  }
  &-right-primary-400 {
    border-right-color: var(--primary-400) !important;
  }
  &-right-primary-300 {
    border-right-color: var(--primary-300) !important;
  }
  &-right-primary-200 {
    border-right-color: var(--primary-200) !important;
  }
  &-right-primary-100 {
    border-right-color: var(--primary-100) !important;
  }
  &-right-primary-75 {
    border-right-color: var(--primary-75) !important;
  }
  &-right-primary-50 {
    border-right-color: var(--primary-50) !important;
  }
  &-right-neutral-1000 {
    border-right-color: var(--neutral-1000) !important;
  }
  &-right-neutral-600 {
    border-right-color: var(--neutral-600) !important;
  }
  &-right-neutral-500 {
    border-right-color: var(--neutral-500) !important;
  }
  &-right-neutral-400 {
    border-right-color: var(--neutral-400) !important;
  }
  &-right-neutral-300 {
    border-right-color: var(--neutral-300) !important;
  }
  &-right-neutral-200 {
    border-right-color: var(--neutral-200) !important;
  }
  &-right-neutral-100 {
    border-right-color: var(--neutral-100) !important;
  }
  &-right-neutral-75 {
    border-right-color: var(--neutral-75) !important;
  }
  &-right-neutral-0 {
    border-right-color: var(--neutral-0) !important;
  }
  &-right-success-700 {
    border-right-color: var(--success-700) !important;
  }
  &-right-success-600 {
    border-right-color: var(--success-600) !important;
  }
  &-right-success-500 {
    border-right-color: var(--success-500) !important;
  }
  &-right-success-400 {
    border-right-color: var(--success-400) !important;
  }
  &-right-success-300 {
    border-right-color: var(--success-300) !important;
  }
  &-right-success-200 {
    border-right-color: var(--success-200) !important;
  }
  &-right-success-100 {
    border-right-color: var(--success-100) !important;
  }
  &-right-succes2-500 {
    border-right-color: var(--succes2-500) !important;
  }
  &-right-success-75 {
    border-right-color: var(--success-75) !important;
  }
  &-right-success-50 {
    border-right-color: var(--success-50) !important;
  }
  &-right-warning-700 {
    border-right-color: var(--warning-700) !important;
  }
  &-right-warning-600 {
    border-right-color: var(--warning-600) !important;
  }
  &-right-warning-500 {
    border-right-color: var(--warning-500) !important;
  }
  &-right-warning-400 {
    border-right-color: var(--warning-400) !important;
  }
  &-right-warning-300 {
    border-right-color: var(--warning-300) !important;
  }
  &-right-warning-200 {
    border-right-color: var(--warning-200) !important;
  }
  &-right-warning-100 {
    border-right-color: var(--warning-100) !important;
  }
  &-right-warning-75 {
    border-right-color: var(--warning-75) !important;
  }
  &-right-warning-50 {
    border-right-color: var(--warning-50) !important;
  }
  &-right-error-700 {
    border-right-color: var(--error-700) !important;
  }
  &-right-error-600 {
    border-right-color: var(--error-600) !important;
  }
  &-right-error-500 {
    border-right-color: var(--error-500) !important;
  }
  &-right-error-400 {
    border-right-color: var(--error-400) !important;
  }
  &-right-error-300 {
    border-right-color: var(--error-300) !important;
  }
  &-right-error-200 {
    border-right-color: var(--error-200) !important;
  }
  &-right-error-100 {
    border-right-color: var(--error-100) !important;
  }
  &-right-error-75 {
    border-right-color: var(--error-75) !important;
  }
  &-right-error-50 {
    border-right-color: var(--error-50) !important;
  }
  &-right-info-700 {
    border-right-color: var(--info-700) !important;
  }
  &-right-info-600 {
    border-right-color: var(--info-600) !important;
  }
  &-right-info-500 {
    border-right-color: var(--info-500) !important;
  }
  &-right-info-400 {
    border-right-color: var(--info-400) !important;
  }
  &-right-info-300 {
    border-right-color: var(--info-300) !important;
  }
  &-right-info-200 {
    border-right-color: var(--info-200) !important;
  }
  &-right-info-100 {
    border-right-color: var(--info-100) !important;
  }
  &-right-info-75 {
    border-right-color: var(--info-75) !important;
  }
  &-right-info-50 {
    border-right-color: var(--info-50) !important;
  }
  &-right-orange-700 {
    border-right-color: var(--orange-700) !important;
  }
  &-right-orange-600 {
    border-right-color: var(--orange-600) !important;
  }
  &-right-orange-500 {
    border-right-color: var(--orange-500) !important;
  }
  &-right-orange-400 {
    border-right-color: var(--orange-400) !important;
  }
  &-right-orange-300 {
    border-right-color: var(--orange-300) !important;
  }
  &-right-orange-200 {
    border-right-color: var(--orange-200) !important;
  }
  &-right-orange-100 {
    border-right-color: var(--orange-100) !important;
  }
  &-right-orange-75 {
    border-right-color: var(--orange-75) !important;
  }
  &-right-orange-50 {
    border-right-color: var(--orange-50) !important;
  }
  &-right-purple-700 {
    border-right-color: var(--purple-700) !important;
  }
  &-right-purple-600 {
    border-right-color: var(--purple-600) !important;
  }
  &-right-purple-500 {
    border-right-color: var(--purple-500) !important;
  }
  &-right-purple-400 {
    border-right-color: var(--purple-400) !important;
  }
  &-right-purple-300 {
    border-right-color: var(--purple-300) !important;
  }
  &-right-purple-200 {
    border-right-color: var(--purple-200) !important;
  }
  &-right-purple-100 {
    border-right-color: var(--purple-100) !important;
  }
  &-right-purple-75 {
    border-right-color: var(--purple-75) !important;
  }
  &-right-purple-50 {
    border-right-color: var(--purple-50) !important;
  }
  &-bottom-inherit {
    border-bottom-color: inherit !important;
  }
  &-bottom-transparent {
    border-bottom-color: transparent !important;
  }
  &-bottom-primary-800 {
    border-bottom-color: var(--primary-800) !important;
  }
  &-bottom-primary-700 {
    border-bottom-color: var(--primary-700) !important;
  }
  &-bottom-primary-600 {
    border-bottom-color: var(--primary-600) !important;
  }
  &-bottom-primary-500 {
    border-bottom-color: var(--primary-500) !important;
  }
  &-bottom-primary-400 {
    border-bottom-color: var(--primary-400) !important;
  }
  &-bottom-primary-300 {
    border-bottom-color: var(--primary-300) !important;
  }
  &-bottom-primary-200 {
    border-bottom-color: var(--primary-200) !important;
  }
  &-bottom-primary-100 {
    border-bottom-color: var(--primary-100) !important;
  }
  &-bottom-primary-75 {
    border-bottom-color: var(--primary-75) !important;
  }
  &-bottom-primary-50 {
    border-bottom-color: var(--primary-50) !important;
  }
  &-bottom-neutral-1000 {
    border-bottom-color: var(--neutral-1000) !important;
  }
  &-bottom-neutral-600 {
    border-bottom-color: var(--neutral-600) !important;
  }
  &-bottom-neutral-500 {
    border-bottom-color: var(--neutral-500) !important;
  }
  &-bottom-neutral-400 {
    border-bottom-color: var(--neutral-400) !important;
  }
  &-bottom-neutral-300 {
    border-bottom-color: var(--neutral-300) !important;
  }
  &-bottom-neutral-200 {
    border-bottom-color: var(--neutral-200) !important;
  }
  &-bottom-neutral-100 {
    border-bottom-color: var(--neutral-100) !important;
  }
  &-bottom-neutral-75 {
    border-bottom-color: var(--neutral-75) !important;
  }
  &-bottom-neutral-0 {
    border-bottom-color: var(--neutral-0) !important;
  }
  &-bottom-success-700 {
    border-bottom-color: var(--success-700) !important;
  }
  &-bottom-success-600 {
    border-bottom-color: var(--success-600) !important;
  }
  &-bottom-success-500 {
    border-bottom-color: var(--success-500) !important;
  }
  &-bottom-success-400 {
    border-bottom-color: var(--success-400) !important;
  }
  &-bottom-success-300 {
    border-bottom-color: var(--success-300) !important;
  }
  &-bottom-success-200 {
    border-bottom-color: var(--success-200) !important;
  }
  &-bottom-success-100 {
    border-bottom-color: var(--success-100) !important;
  }
  &-bottom-succe2s-500 {
    border-bottom-color: var(--succe2s-500) !important;
  }
  &-bottom-success-75 {
    border-bottom-color: var(--success-75) !important;
  }
  &-bottom-success-50 {
    border-bottom-color: var(--success-50) !important;
  }
  &-bottom-warning-700 {
    border-bottom-color: var(--warning-700) !important;
  }
  &-bottom-warning-600 {
    border-bottom-color: var(--warning-600) !important;
  }
  &-bottom-warning-500 {
    border-bottom-color: var(--warning-500) !important;
  }
  &-bottom-warning-400 {
    border-bottom-color: var(--warning-400) !important;
  }
  &-bottom-warning-300 {
    border-bottom-color: var(--warning-300) !important;
  }
  &-bottom-warning-200 {
    border-bottom-color: var(--warning-200) !important;
  }
  &-bottom-warning-100 {
    border-bottom-color: var(--warning-100) !important;
  }
  &-bottom-warning-75 {
    border-bottom-color: var(--warning-75) !important;
  }
  &-bottom-warning-50 {
    border-bottom-color: var(--warning-50) !important;
  }
  &-bottom-error-700 {
    border-bottom-color: var(--error-700) !important;
  }
  &-bottom-error-600 {
    border-bottom-color: var(--error-600) !important;
  }
  &-bottom-error-500 {
    border-bottom-color: var(--error-500) !important;
  }
  &-bottom-error-400 {
    border-bottom-color: var(--error-400) !important;
  }
  &-bottom-error-300 {
    border-bottom-color: var(--error-300) !important;
  }
  &-bottom-error-200 {
    border-bottom-color: var(--error-200) !important;
  }
  &-bottom-error-100 {
    border-bottom-color: var(--error-100) !important;
  }
  &-bottom-error-75 {
    border-bottom-color: var(--error-75) !important;
  }
  &-bottom-error-50 {
    border-bottom-color: var(--error-50) !important;
  }
  &-bottom-info-700 {
    border-bottom-color: var(--info-700) !important;
  }
  &-bottom-info-600 {
    border-bottom-color: var(--info-600) !important;
  }
  &-bottom-info-500 {
    border-bottom-color: var(--info-500) !important;
  }
  &-bottom-info-400 {
    border-bottom-color: var(--info-400) !important;
  }
  &-bottom-info-300 {
    border-bottom-color: var(--info-300) !important;
  }
  &-bottom-info-200 {
    border-bottom-color: var(--info-200) !important;
  }
  &-bottom-info-100 {
    border-bottom-color: var(--info-100) !important;
  }
  &-bottom-info-75 {
    border-bottom-color: var(--info-75) !important;
  }
  &-bottom-info-50 {
    border-bottom-color: var(--info-50) !important;
  }
  &-bottom-orange-700 {
    border-bottom-color: var(--orange-700) !important;
  }
  &-bottom-orange-600 {
    border-bottom-color: var(--orange-600) !important;
  }
  &-bottom-orange-500 {
    border-bottom-color: var(--orange-500) !important;
  }
  &-bottom-orange-400 {
    border-bottom-color: var(--orange-400) !important;
  }
  &-bottom-orange-300 {
    border-bottom-color: var(--orange-300) !important;
  }
  &-bottom-orange-200 {
    border-bottom-color: var(--orange-200) !important;
  }
  &-bottom-orange-100 {
    border-bottom-color: var(--orange-100) !important;
  }
  &-bottom-orange-75 {
    border-bottom-color: var(--orange-75) !important;
  }
  &-bottom-orange-50 {
    border-bottom-color: var(--orange-50) !important;
  }
  &-bottom-purple-700 {
    border-bottom-color: var(--purple-700) !important;
  }
  &-bottom-purple-600 {
    border-bottom-color: var(--purple-600) !important;
  }
  &-bottom-purple-500 {
    border-bottom-color: var(--purple-500) !important;
  }
  &-bottom-purple-400 {
    border-bottom-color: var(--purple-400) !important;
  }
  &-bottom-purple-300 {
    border-bottom-color: var(--purple-300) !important;
  }
  &-bottom-purple-200 {
    border-bottom-color: var(--purple-200) !important;
  }
  &-bottom-purple-100 {
    border-bottom-color: var(--purple-100) !important;
  }
  &-bottom-purple-75 {
    border-bottom-color: var(--purple-75) !important;
  }
  &-bottom-purple-50 {
    border-bottom-color: var(--purple-50) !important;
  }
  &-left-inherit {
    border-left-color: inherit !important;
  }
  &-left-transparent {
    border-left-color: transparent !important;
  }
  &-left-primary-800 {
    border-left-color: var(--primary-800) !important;
  }
  &-left-primary-700 {
    border-left-color: var(--primary-700) !important;
  }
  &-left-primary-600 {
    border-left-color: var(--primary-600) !important;
  }
  &-left-primary-500 {
    border-left-color: var(--primary-500) !important;
  }
  &-left-primary-400 {
    border-left-color: var(--primary-400) !important;
  }
  &-left-primary-300 {
    border-left-color: var(--primary-300) !important;
  }
  &-left-primary-200 {
    border-left-color: var(--primary-200) !important;
  }
  &-left-primary-100 {
    border-left-color: var(--primary-100) !important;
  }
  &-left-primary-75 {
    border-left-color: var(--primary-75) !important;
  }
  &-left-primary-50 {
    border-left-color: var(--primary-50) !important;
  }
  &-left-neutral-1000 {
    border-left-color: var(--neutral-1000) !important;
  }
  &-left-neutral-600 {
    border-left-color: var(--neutral-600) !important;
  }
  &-left-neutral-500 {
    border-left-color: var(--neutral-500) !important;
  }
  &-left-neutral-400 {
    border-left-color: var(--neutral-400) !important;
  }
  &-left-neutral-300 {
    border-left-color: var(--neutral-300) !important;
  }
  &-left-neutral-200 {
    border-left-color: var(--neutral-200) !important;
  }
  &-left-neutral-100 {
    border-left-color: var(--neutral-100) !important;
  }
  &-left-neutral-75 {
    border-left-color: var(--neutral-75) !important;
  }
  &-left-neutral-0 {
    border-left-color: var(--neutral-0) !important;
  }
  &-left-success-700 {
    border-left-color: var(--success-700) !important;
  }
  &-left-success-600 {
    border-left-color: var(--success-600) !important;
  }
  &-left-success-500 {
    border-left-color: var(--success-500) !important;
  }
  &-left-success-400 {
    border-left-color: var(--success-400) !important;
  }
  &-left-success-300 {
    border-left-color: var(--success-300) !important;
  }
  &-left-success-200 {
    border-left-color: var(--success-200) !important;
  }
  &-left-success-100 {
    border-left-color: var(--success-100) !important;
  }
  &-left-success-75 {
    border-left-color: var(--success-75) !important;
  }
  &-left-success-50 {
    border-left-color: var(--success-50) !important;
  }
  &-left-warning-700 {
    border-left-color: var(--warning-700) !important;
  }
  &-left-warning-600 {
    border-left-color: var(--warning-600) !important;
  }
  &-left-warning-500 {
    border-left-color: var(--warning-500) !important;
  }
  &-left-warning-400 {
    border-left-color: var(--warning-400) !important;
  }
  &-left-warning-300 {
    border-left-color: var(--warning-300) !important;
  }
  &-left-warning-200 {
    border-left-color: var(--warning-200) !important;
  }
  &-left-warning-100 {
    border-left-color: var(--warning-100) !important;
  }
  &-left-warning-75 {
    border-left-color: var(--warning-75) !important;
  }
  &-left-warning-50 {
    border-left-color: var(--warning-50) !important;
  }
  &-left-error-700 {
    border-left-color: var(--error-700) !important;
  }
  &-left-error-600 {
    border-left-color: var(--error-600) !important;
  }
  &-left-error-500 {
    border-left-color: var(--error-500) !important;
  }
  &-left-error-400 {
    border-left-color: var(--error-400) !important;
  }
  &-left-error-300 {
    border-left-color: var(--error-300) !important;
  }
  &-left-error-200 {
    border-left-color: var(--error-200) !important;
  }
  &-left-error-100 {
    border-left-color: var(--error-100) !important;
  }
  &-left-error-75 {
    border-left-color: var(--error-75) !important;
  }
  &-left-error-50 {
    border-left-color: var(--error-50) !important;
  }
  &-left-info-700 {
    border-left-color: var(--info-700) !important;
  }
  &-left-info-600 {
    border-left-color: var(--info-600) !important;
  }
  &-left-info-500 {
    border-left-color: var(--info-500) !important;
  }
  &-left-info-400 {
    border-left-color: var(--info-400) !important;
  }
  &-left-info-300 {
    border-left-color: var(--info-300) !important;
  }
  &-left-info-200 {
    border-left-color: var(--info-200) !important;
  }
  &-left-info-100 {
    border-left-color: var(--info-100) !important;
  }
  &-left-info-75 {
    border-left-color: var(--info-75) !important;
  }
  &-left-info-50 {
    border-left-color: var(--info-50) !important;
  }
  &-left-orange-700 {
    border-left-color: var(--orange-700) !important;
  }
  &-left-orange-600 {
    border-left-color: var(--orange-600) !important;
  }
  &-left-orange-500 {
    border-left-color: var(--orange-500) !important;
  }
  &-left-orange-400 {
    border-left-color: var(--orange-400) !important;
  }
  &-left-orange-300 {
    border-left-color: var(--orange-300) !important;
  }
  &-left-orange-200 {
    border-left-color: var(--orange-200) !important;
  }
  &-left-orange-100 {
    border-left-color: var(--orange-100) !important;
  }
  &-left-orange-75 {
    border-left-color: var(--orange-75) !important;
  }
  &-left-orange-50 {
    border-left-color: var(--orange-50) !important;
  }
  &-left-purple-700 {
    border-left-color: var(--purple-700) !important;
  }
  &-left-purple-600 {
    border-left-color: var(--purple-600) !important;
  }
  &-left-purple-500 {
    border-left-color: var(--purple-500) !important;
  }
  &-left-purple-400 {
    border-left-color: var(--purple-400) !important;
  }
  &-left-purple-300 {
    border-left-color: var(--purple-300) !important;
  }
  &-left-purple-200 {
    border-left-color: var(--purple-200) !important;
  }
  &-left-purple-100 {
    border-left-color: var(--purple-100) !important;
  }
  &-left-purple-75 {
    border-left-color: var(--purple-75) !important;
  }
  &-left-purple-50 {
    border-left-color: var(--purple-50) !important;
  }
}
