.container {
  column-gap: 120px;
  row-gap: 100px;
  margin: 0 150px;
  max-width: 1200px;
}

@media (min-width: 1350px) {
  /* Corrected: added px */
  .root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
