.container {
  column-gap: 120px;
}

.padding {
  padding: 100px 300px;
}

.initialInputWrapper {
  display: flex;
  align-self: end;
}

.initialInput {
  align-self: end;
}

.finalOutput {
  align-self: end;
}
